__pycache__/
.idea/
.ipynb_checkpoints/
dataset/
saved/
output/
config/
.DS_Store
MyRoad.xmind
datasets/
checkpoints/
pretrained/
checkpoint*
utils/plt_log.py
utils/solutions/

README.md
requirements.txt